body {
  width: 1920px;
  height: 1150px;
  background-color: black;
  color: white;
  border: 3px solid white;
}

header {
  height: 155px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 55px;
}

main {
  width: 725px;
  height: 746px;
  flex-shrink: 0;
  border-left: 2px solid white;
  margin-left: 55px;
  padding-left: 70px;

  display: flex;
  align-items: center;
}

.caja-rosada {
  width: 813px;
  height: 55px;
  background-color: #ff2aac;
  flex-shrink: 0;
  margin-bottom: 55px;
}

.caja-amarilla {
  width: 643px;
  height: 55px;
  flex-shrink: 0;
  background-color: #fffd38;
}

.span-designed {
  color: #fff;
  font-family: "Inter", sans-serif;
  font-family: "Space Grotesk", sans-serif;
  font-size: 43.493px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.container-autor {
  display: inline-flex;
  align-items: center;
}

.contenedor-autor img {
  width: 60px;
  height: 60px;
}

.flecha {
  width: 58.063px;
  height: 41.556px;
  flex-shrink: 0;
}

.contenedor-4 {
  display: flex;
  align-items: center;
  position: relative;
  bottom: 90px;
}

.contenedor-practica-designed-camilo {
  position: relative;
  bottom: 80px;
}
.numero4 {
  color: #fff;
  font-family: "Sevillana";
  font-size: 205.638px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.designers {
  color: #fff;
  font-family: "Sevillana";
  font-size: 163.445px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.contenedor-designers {
  display: flex;
  position: relative;
  left: 610px;
  bottom: 415px;
}

.newbies {
  color: rgba(255, 255, 255, 0.8);
  font-family: "Space Grotesk";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: relative;
  left: 400px;
  top: 40px;
}

.barra-amarilla {
  width: 121.746px;
  height: 33.835px;
  background-color: #fffd38;
  position: relative;
}

.contenedor-footer {
  position: absolute;
  left: 1700px;
  bottom: 100px;
}

.contenedor-footer img {
  position: relative;
  top: 25px;
  z-index: 1;
}

#titulo {
  color: rgba(255, 255, 255, 0.3);
  font-family: "Inter", sans-serif;
  font-size: 50.4px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#subtitulo {
  font-family: "Inter", sans-serif;
  font-family: "Space Grotesk", sans-serif;
  color: #fff;

  font-family: Space Grotesk;
  font-size: 289.846px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  position: relative;
  bottom: 60px;
}

#subtitulo-2 {
  font-family: "Inter", sans-serif;
  font-family: "Space Grotesk", sans-serif;
  color: #fff;

  font-size: 163.445px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#autor {
  color: #fffd38;
  font-family: "Inter", sans-serif;
  font-family: "Space Grotesk", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration-line: underline;
}
